<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="card">
    <div class="card-body tab2-card">
      <ngb-tabset class="tab-coupon">
        <ngb-tab title="General">
          <ng-template ngbTabContent>
            <form class="needs-validation" novalidate="">
              <div class="header">
                <h4>General</h4>
                <div>
                  <a *ngIf="!isEdit" (click)="onEdit()">Edit<i nz-icon nzType="edit" style="color: black; font-size: large;" nzTheme="outline"></i></a>
                  <a *ngIf="isEdit" (click)="onSave()">Save</a>
                  <a *ngIf="isEdit" (click)="onCancel()">Cancel</a>
                </div>
              </div>
              <div class="row" [formGroup]="generalForm">
                <form class="col-sm-12">
                  <div class="form-group row">
                    <label for="validationCustom0" class="col-xl-3 col-md-4"
                      >Order ID</label
                    >
                    {{ order?.id }}
                  </div>
                  <div class="form-group row">
                    <label for="validationCustom1" class="col-xl-3 col-md-4"
                      >Total</label
                    >
                    <input type="text" formControlName="total">
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-md-4">Delivery Date</label>
                    <div class="input-group col-md-7 input-grp-p">
                      <input type="date" formControlName="delivery_date">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-md-4">Shipping Date</label>
                    <div class="input-group col-md-7 input-grp-p">
                      <input *ngIf="isEdit || order?.shipping_date" type="date" formControlName="shipping_date">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-md-4">Shipping Code</label>
                    <div class="input-group col-md-7 input-grp-p">
                      <input type="text" formControlName="shipping_code">
                    </div>
                  </div>
                </form>
              </div>
            </form>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Address</ng-template>
          <ng-template ngbTabContent>
            <form class="needs-validation" novalidate="">
              <h4>Shipping Address</h4>
              <div class="form-group row" *ngIf="order.address.flat">
                <label for="validationCustom6" class="col-xl-3 col-md-4"
                  >Flat</label
                >
                {{ order.address.flat }}
              </div>
              <div class="form-group row">
                <label for="validationCustom7" class="col-xl-3 col-md-4"
                  >Address</label
                >
                {{ order.address.address }}
              </div>
              <div class="form-group row">
                <label for="validationCustom7" class="col-xl-3 col-md-4"
                  >City</label
                >
                {{ order.address.city }}
              </div>
              <div class="form-group row">
                <label for="validationCustom7" class="col-xl-3 col-md-4">Cap</label>
                {{ order.address.cap }}
              </div>
              <div class="form-group row">
                <label for="validationCustom7" class="col-xl-3 col-md-4"
                  >Region</label
                >
                {{ order.address.region }}
              </div>
              <div class="form-group row" *ngIf="order.address.other">
                <label for="validationCustom7" class="col-xl-3 col-md-4"
                  >Other</label
                >
                {{ order.address.other }}
              </div>
            </form>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>User</ng-template>
          <ng-template ngbTabContent>
            <form class="needs-validation" novalidate="">
              <h4>User</h4>
              <div class="form-group row">
                <label for="validationCustom3" class="col-xl-3 col-md-4"
                  >Name</label
                >
                {{ order.user.name }} {{ order.user.surname }}
              </div>
              <div class="form-group row">
                <label class="col-xl-3 col-md-4">Email</label>
                {{ order.user.email }}
              </div>
              <div class="form-group row" *ngIf="order.user.telephone">
                <label for="validationCustom4" class="col-xl-3 col-md-4"
                  >Telephone</label
                >
                {{ order.user.telephone }}
              </div>
            </form>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Variations</ng-template>
          <ng-template ngbTabContent>
            <nz-table [nzData]="order.variations">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Discount</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of order.variations">
                  <td nzWidth="25%">{{ data.variation.name }}</td>
                  <td nzWidth="50%">{{ data.quantity }}</td>
                  <td nzWidth="25%">{{ data.variation.price }} €</td>
                  <td nzWidth="25%" *ngIf="data.variation.discount">{{ data.variation.discount }}%</td>
                  <td nzWidth="25%" *ngIf="!data.variation.discount">-</td>
                  <td nzWidth="25%">{{ (data.variation.price * data.variation.discount /100) * data.quantity }} €</td>
                </tr>
              </tbody>
            </nz-table>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
