.search-cart {
    width: 34vw;
    padding: 0;
    margin: 0;
    height: 3vh !important;
    margin-left: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-input {
    width: 14vw;
    height: 5vh;
    margin: 0 10px;
}

.w-20 {
    width: 20vw;
}