<app-breadcrumb
  [title]="product?.name"
  [breadcrumb]="'Product'"
></app-breadcrumb>
<!-- section start -->
<section class="section-b-space" *ngIf="product">
  <form class="collection-wrapper" [formGroup]="reviewForm">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <owl-carousel-o
            [options]="ProductDetailsMainSliderConfig"
            #owlCar
            class="product-slick"
          >
            <ng-container
              *ngFor="
                let image of product.variations[currentVariationIndex].media;
                index as i
              "
            >
              <ng-template carouselSlide [id]="i">
                <div>
                  <img
                    [defaultImage]="'assets/images/product/placeholder.jpg'"
                    [lazyLoad]="image.url"
                    class="img-fluid"
                    [src]="image.url"
                  />
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
          <div class="row">
            <div class="col-12 p-0">
              <div class="slider-nav">
                <owl-carousel-o
                  [options]="ProductDetailsThumbConfig"
                  class="product-slick"
                >
                  <ng-container
                    *ngFor="
                      let image of product.variations[currentVariationIndex].media;
                      index as i
                    "
                  >
                    <ng-template carouselSlide [id]="i">
                      <div
                        class="owl-thumb"
                        [class.active]="i == currentImageIndex"
                      >
                        <img
                          [defaultImage]="
                            'assets/images/product/placeholder.jpg'
                          "
                          [lazyLoad]="image.url"
                          class="img-fluid"
                          [src]="image.url"
                          (click)="owlCar.to(currentImageIndex = i)"
                        />
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 rtl-text">
          <div class="product-right">
            <div class="product-row">
              <h2>{{ product?.name }}</h2>
              <ul class="product-icon">
                <button class="wishlist-btn" (click)="onWishlist()">
                  <i class="fa fa-heart" [class.active]="isWish"></i>
                </button>
              </ul>
            </div>
            <h4>
              <del
                *ngIf="product?.variations[currentVariationIndex].discount"
                >{{ product?.price }}</del
              >
              <span *ngIf="product?.variations[currentVariationIndex].discount"
                >{{ product?.variations[currentVariationIndex].discount }}%
                off</span
              >
            </h4>
            <!-- <h3 *ngIf="product?.variations[currentVariationIndex].discount">{{ product?.price }} €</h3> -->
            <h3>{{ product?.price | discount:product?.variations[currentVariationIndex].discount }} €</h3>
            <ul class="color-variant">
              <li
                [class.active]="currentVariationIndex == i"
                *ngFor="let variation of product.variations; index as i"
                [ngStyle]="{
                  'background-color': (variation.id_color | color)
                }"
                (click)="changeVariations(i)"
              ></li>
            </ul>
            <div class="product-description border-product">
              <h6 class="product-title">quantity</h6>
              <div class="qty-box">
                <div class="input-group">
                  <span class="input-group-prepend">
                    <button
                      type="button"
                      class="btn quantity-left-minus"
                      data-type="minus"
                      (click)="decrement()"
                    >
                      <i class="ti-angle-left"></i>
                    </button>
                  </span>
                  <input
                    type="text"
                    name="quantity"
                    class="form-control input-number"
                    [value]="counter"
                    disabled
                  />
                  <span class="input-group-prepend">
                    <button
                      type="button"
                      class="btn quantity-right-plus"
                      data-type="plus"
                      (click)="increment()"
                    >
                      <i class="ti-angle-right"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="product-buttons">
              <a class="btn btn-solid" (click)="addToCart()">add to cart</a>
              <!-- <a
                href="javascrip:void(0)"
                class="btn btn-solid"
                (click)="buyNow(product)"
                >buy now</a
              > -->
            </div>
            <div class="border-product">
              <h6 class="product-title">product details</h6>
              <p>{{ product.short_description }}</p>
            </div>
            <div class="border-product">
              <div class="product-icon">
                <!-- <app-social></app-social> -->
                <div class="d-inline-block" *ngIf="product.star">
                  <nz-rate
                    class="ant-rate-text"
                    formControlName="star"
                    nzDisabled
                  ></nz-rate>
                  <a
                    [routerLink]="'/shop/product/review'" 
                    
                    [queryParams]="{ id: product.id }"
                    >View all reviews</a
                  >
                </div>
              </div>
            </div>
            <div class="border-product">
              <!-- <app-countdown [date]="'Apr 21 2021'"></app-countdown> -->
            </div>
          </div>
        </div>
      </div>
      <section class="tab-product m-0">
        <div class="row">
          <div class="col-sm-12 col-lg-12">
            <ngb-tabset [type]="'tabs'" class="nav-material">
              <ngb-tab>
                <ng-template ngbTabTitle>Description</ng-template>
                <ng-template ngbTabContent>
                  <p>{{ product.long_description }}</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab *ngIf="isLogged">
                <ng-template ngbTabTitle>Write Review</ng-template>
                <ng-template ngbTabContent>
                  <div class="theme-form" *ngIf="isLogged">
                    <div class="form-row">
                      <div class="col-md-12">
                        <div class="media">
                          <label>Rating</label>
                          <div class="media-body ml-3">
                            <nz-rate
                              class="ant-rate-text"
                              formControlName="star"
                            ></nz-rate>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <label for="review">Review Title</label>
                        <input
                          type="text"
                          class="form-control"
                          id="review"
                          placeholder="Enter your Review Subjects"
                          formControlName="title"
                        />
                      </div>
                      <div class="col-md-12">
                        <label for="review">Review Title</label>
                        <textarea
                          class="form-control"
                          placeholder="Wrire Your Testimonial Here"
                          id="exampleFormControlTextarea1"
                          rows="6"
                          formControlName="text"
                        ></textarea>
                      </div>
                      <div class="col-md-12">
                        <button
                          [disabled]="!reviewForm.valid"
                          class="btn btn-solid"
                          type="submit"
                          (click)="onAddReview()"
                        >
                          Submit YOur Review
                        </button>
                      </div>
                    </div>
                  </div>
                  <p *ngIf="!isLogged">
                    Logging in if you want to write a review
                  </p>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </section>
    </div>
  </form>
  <!-- <app-related-product [type]="product?.type"></app-related-product> PRODOTTI CORRELATI -->
</section>
<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>
<app-size-modal #sizeChart [product]="product"></app-size-modal>
<app-cart-modal
  #cartModal
  [variation]="product?.variations[this.currentVariationIndex]"
></app-cart-modal>
<!-- Section ends -->
