.active {
    color:#d4b196;
}

.product-row {
    display: flex;
    flex-direction: row;
}

.product-slick {
    display: block;
    height: 656px;
}

.col-12 {
    height: 211px;
}

.p-black {
    color: black;
}

