<div *ngIf="!loader">
  <div class="img-wrapper">
    <div class="lable-block">
      <span class="lable3" *ngIf="isNew">new</span>
      <!-- <span class="lable4" *ngIf="product.variations[0]?.id_discount">on sale</span> -->
    </div>
    <div class="front">
      
      <a routerLink="/shop/product/detail" [queryParams]="{id: product.id}" >
        <img 
          [defaultImage]="product.variations[this.currentVariationIndex]?.media[0]?.url ? product.variations[this.currentVariationIndex]?.media[0]?.url : 'assets/images/product/placeholder.jpg'" 
          [lazyLoad]="product.variations[this.currentVariationIndex]?.media[0]?.url" 
          class="img-fluid lazy-loading"/>
      </a>
    </div>
    <div class="back" *ngIf="onHowerChangeImage">
      <a routerLink="/shop/product/detail" [queryParams]="{id: product.id}" >
        <img [src]="product.variations[this.currentVariationIndex]?.media[0]?.url" class="img-fluid lazy-loading">
        <!-- <img [src]="ImageSrc ? ImageSrc : product.images[1].src" class="img-fluid lazy-loading" alt="{{ product.images[1].alt }}"> -->
      </a>
    </div>
    <ul class="product-thumb-list" *ngIf="thumbnail">
      <!-- <li class="grid_thumb_img" [class.active]="ImageSrc == image.src" *ngFor="let image of product.images">
        <a href="javascript:void(0)" (mouseover)="ChangeVariantsImage(image.src)">
          <img [lazyLoad]="image.src">
        </a>
      </li> -->
    </ul>
    <div class="cart-info cart-wrap" *ngIf="!isInHome">
      <a
        href="javascript:void(0)"
        title="Add to cart"
        (click)="addToCart()"
      >
        <i class="ti-shopping-cart"></i>
      </a>
      <a
        href="javascript:void(0)"
        title="Add to Wishlist"
        (click)="onWishlist()"
      >
        <i class="ti-heart" aria-hidden="true" [class.active]="isWish"></i>
      </a>
      <a
        href="javascript:void(0)"
        title="Quick View"
        (click)="QuickView.openModal()"
      >
        <i class="ti-search" aria-hidden="true"></i>
      </a>
      <a href="javascript:void(0)"><i aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="product-detail">
    <nz-rate *ngIf="product.star" [(ngModel)]="product.star" nzDisabled></nz-rate>
    <div class="m-20">
      <a routerLink="/shop/product/detail" [queryParams]="{id: product.id}" >
        <h6>{{ product.name | titlecase }}</h6>
      </a>
      <h4>
        {{(product.price | discount:product.variations[currentVariationIndex].discount) | number : '1.2-2'}} €
        <del *ngIf="product.variations[currentVariationIndex].discount">{{product.price}} €</del>
      </h4>
      
      <ul class="color-variant">
        <li *ngFor="let variation of product.variations; index as i"  [class.active]="currentVariationIndex === i" 
            [ngStyle]="{'background-color': (variation.id_color | color )}"
            (click)="changeVariations(i)"
            >
        </li>
    </ul>
    </div>
  </div>
</div>
<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>
<app-quick-view #quickView [product]="product"></app-quick-view>
<app-cart-modal
  #cartModal
  [variation]="product.variations[this.currentVariationIndex]"
  *ngIf="cartModal"
></app-cart-modal>
