/* You can add global styles to this file, and also import other style files */

.blog-detail-page .comment-section li {
    padding: 0 !important;
    border: 0 !important;
}

//TODO:
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
