<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5>User Details</h5>
    </div>
    <div class="card-body">
      <!-- <div class="btn-popup pull-right">
        <a class="btn btn-secondary" [routerLink]="'/users/create-user'"
          >Create User</a
        >
      </div> -->
      <div
        id="batchDelete"
        class="category-table custom-datatable transcation-datatable user-image"
      >
        <div class="table-responsive">
          <nz-table #table [nzData]="users" nzTableLayout="fixed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Birth</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of table.data">
                <ng-container>
                  <td nzWidth="25%">{{ user.name }}</td>
                  <td nzWidth="50%">{{ user.surname }}</td>
                  <td nzWidth="25%">{{ user.email }}</td>
                  <td nzWidth="25%">{{ user.telephone }}</td>
                  <td nzWidth="25%">{{ user.birth }}</td>
                </ng-container>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
