<header>
  <div class="breadcrumb-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="breadcrumb-content text-center">
            <h3>Login/signup</h3>
            <div class="breadcrumb-link">
              <p><a>Home</a></p>
              <span></span>
              <p>Login/signup</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header area end -->

<!-- Login Form Area -->

<div class="login-area-wrap mt-100">
  <div class="container">
    <div class="row mt-50">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="login-wrap">
          <div class="login-content-title">
            <h4>Returning login</h4>
          </div>
          <form id="contact-form" class="contat-input" [formGroup]="loginForm">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-sm-6 col-6">
                <label class="form-check-label form-check-label-first"
                  >Your Email</label
                >
                <input
                  type="text"
                  name="name"
                  formControlName="email"
                  required
                />
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-6 col-6">
                <label class="form-check-label form-check-label-first"
                  >Your Password</label
                >
                <input
                  type="password"
                  name="email"
                  formControlName="password"
                  required
                />
              </div>
              <div class="details-page-reply-btn-wrap">
                <button
                  type="submit"
                  class="common-btn shop-details-review-btn"
                  (click)="onLogin()"
                  [disabled]="loginForm.invalid"
                >
                  Submit
                </button>
              </div>
              <p class="form-message"></p>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 both-small-50">
        <div class="sign-wrap">
          <div class="login-content-title">
            <h4>New customer sign up</h4>
          </div>
          <form
            id="contact-form-two"
            class="contat-input"
            [formGroup]="registerForm"
          >
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-sm-12 col-12">
                <label class="form-check-label form-check-label-first"
                  >Your Name</label
                >
                <input
                  type="text"
                  name="name"
                  required
                  formControlName="name"
                />
              </div>
              <div class="col-xl-12 col-lg-12 col-sm-12 col-12">
                <label class="form-check-label">Your Email</label>
                <input
                  type="email"
                  name="email"
                  required
                  formControlName="email"
                />
              </div>
              <div class="col-xl-12 col-lg-12 col-sm-12 col-12">
                <label class="form-check-label">Password</label>
                <input
                  type="password"
                  name="phone"
                  required
                  formControlName="password"
                />
              </div>
              <div class="col-xl-12 col-lg-12 col-sm-12 col-12">
                <label class="form-check-label">Confirm Password</label>
                <input
                  type="password"
                  name="address"
                  required
                  formControlName="confirmPassword"
                />
              </div>
              <!-- <div class="col-xl-12 col-lg-12 col-sm-12 col-12">
								<label class="shop-check">Are you agree <a>terms</a> and <a >condition</a> create an account
								  <input type="checkbox">
								  <span class="checkmark"></span>
								</label>
							</div> -->
              <div class="details-page-reply-btn-wrap">
                <button
                  type="submit"
                  class="common-btn shop-details-review-btn"
                  (click)="onRegister()"
                  [disabled]="loginForm.invalid"
                >
                  Create an account
                </button>
              </div>
              <p class="form-message"></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Login Form Area End -->

<!-- Footer Area -->

<div class="footer-design-two-area mt-100">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="footer-wrap-design-two">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
              <div class="single-widget">
                <div class="footer-title">
                  <h4>Customer Services</h4>
                </div>
                <div class="footer-left-content">
                  <p>
                    Aempor tellus dictumst lectus earum necessitatibus
                    consequunturo
                  </p>
                  <h3>Location</h3>
                  <p>754 Road, 36 Floor New York, USA</p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
              <div class="single-widget">
                <div class="footer-title">
                  <h4>Our Shop</h4>
                </div>
                <div class="footer-link">
                  <ul>
                    <!-- <li><a href="shop.html">Wooden Chair</a></li>
										<li><a href="shop.html">Plastic Table</a></li>
										<li><a href="shop.html">Pendent light</a></li>
										<li><a href="shop.html">Bottle</a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
              <div class="single-widget">
                <div class="footer-title">
                  <h4>Useful Link</h4>
                </div>
                <div class="footer-link">
                  <ul>
                    <!-- <li><a href="#">About Us</a></li>
										<li><a href="#">Term of Service</a></li>
										<li><a href="#">Privacy Policy</a></li>
										<li><a href="#">Shipping</a></li> -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
              <div class="single-widget">
                <div class="footer-title">
                  <h4>Social Profile</h4>
                </div>
                <div class="footer-app-download">
                  <h4>
                    Download From <br />
                    App Store
                  </h4>
                  <ul>
                    <!-- <li><a href="#"><img src="" alt=""></a></li>
										<li><a ><img src="" alt=""></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Copyright Area -->

<div class="copyright-area-design-one">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="copy-right-social">
          <ul>
            <!-- <li><a href="#"><i class='bx bxl-facebook-circle'></i></a></li>
						<li><a href="#"><i class='bx bxl-instagram' ></i></a></li>
						<li><a href="#"><i class='bx bxl-twitter' ></i></a></li>
						<li><a href="#"><i class='bx bxl-youtube' ></i></a></li>
						<li><a href="#"><i class='bx bxl-pinterest'></i></a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="copy-right-contend text-end">
          <p class="copy-text" style="margin-bottom: 0">
            All right reserved @CopyRight & designed by<a> Egens Lab</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Copyright Area End -->

<!-- Footer Area End -->
