<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>List of Products</h5>
        </div>
        <div class="card-body">
          <div id="batchDelete" class="category-table custom-datatable">
            <div class="table-responsive">
              <nz-table #table [nzData]="searchedProduct" nzTableLayout="fixed">
                <thead>
                  <tr>
                    <th nzWidth="25%" style="display: flex; justify-content: space-between;">Name
                      <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                        <i nz-icon nzType="search"></i>
                      </nz-filter-trigger>
                    </th>
                    <th nzWidth="25%">Description</th>
                    <th nzWidth="10%">Price</th>
                    <th nzWidth="10%">Brand</th>
                    <th nzWidth="25%">Size</th>
                    <th nzWidth="25%">Info</th>
                    <th nzWidth="10%">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of table.data">
                    <ng-container>
                      <td nzWidth="25%">{{ data.name }}</td>
                      <td nzWidth="25%">{{ data.short_description }}</td>
                      <td nzWidth="10%">{{ data.price }} €</td>
                      <td nzWidth="25%">{{ data.brand }}</td>
                      <td nzWidth="25%">{{ data.size }}</td>
                      <td nzWidth="15%">{{ data.other }}</td>
                      <td>
                        <a [routerLink]="'/products/detail'" [queryParams]="{id: data.id}"><i nz-icon nzType="eye" style="color: black; font-size: large;" nzTheme="outline"></i></a>
                        <!-- <a
                          nz-popconfirm
                          nzPopconfirmTitle="Sure to delete?"
                          
                          >  Delete</a
                        > -->
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </nz-table>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <div class="ant-table-filter-dropdown">
                  <div class="search-box custom">
                    <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                    <button nz-button nzSize="small" (click)="search()" class="search-button btn-primary">Search</button>
                    <button nz-button nzSize="small" (click)="reset()">Reset</button>
                  </div>
                </div>
              </nz-dropdown-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
