<app-breadcrumb [title]="'Profile'" [breadcrumb]="'Profile'"></app-breadcrumb>
<!-- personal deatail section start -->
<ng-container>
  <form [formGroup]="meForm">
    <section class="contact-page register-page">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="edit">
              <h3>PERSONAL DETAIL</h3>
              <i *ngIf="!editMode" nz-icon nzType="edit" nzTheme="outline" (click)="onEdit()"><span>Edit  </span></i>
              <div *ngIf="editMode">
                <i nz-icon nzType="save" style="color: black; font-size: large;" nzTheme="outline" (click)="onSave()"><span>Save  </span></i>
                <i nz-icon nzType="delete" style="color: black; font-size: large;" nzTheme="outline" (click)="onCancel()"><span>Cancel  </span></i>
              </div>
            </div>
            <div class="theme-form">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="name">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name"
                  />
                </div>
                <div class="col-md-6">
                  <label for="email">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="surname"
                  />
                </div>
                <div class="col-md-6">
                  <label for="review">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                  />
                </div>
                <div class="col-md-6">
                  <label for="email">Phone Number</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="telephone"
                  />
                </div>
                <div class="col-md-6">
                  <label for="email">Birth</label>
                  <input
                    type="date"
                    class="form-control"
                    formControlName="birth"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section ends -->
    <!-- address section start -->
    <section class="contact-page register-page section-b-space">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h3>SHIPPING ADDRESS</h3>
            <nz-tabset
              [(nzSelectedIndex)]="selectedIndex"
              (nzAdd)="newTab()"
              (nzClose)="closeTab($event)"
              formArrayName="addresses"
              nzType="editable-card"
              class="theme-form"
            >
              <nz-tab
                *ngFor="let address of addresses; index as i"
                [nzClosable]="i != 0"
                [nzTitle]="'Address ' + i"
              >
                <div class="form-row" [formGroupName]="i">
                  <div class="col-md-6">
                    <label for="review">Region/State</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="region"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="review">City</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="city"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="email">Zip Code</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="cap"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="name">Address</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="address"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="name">flat / plot</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="flat"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="name">Other information</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="other"
                    />
                  </div>
                  <div class="checkbox">
                    <input type="checkbox" formControlName="default" />
                    <span>Default Address</span>
                  </div>
                  <!-- <div class="col-md-6 select_input">
                                    <label for="review">Country *</label>
                                    <select class="form-control" size="1">
                                        <option value="India">India</option>
                                        <option value="UAE">UAE</option>
                                        <option value="U.K">U.K</option>
                                        <option value="US">US</option>
                                    </select>
                                </div> -->
                </div>
              </nz-tab>
            </nz-tabset>
            <!-- <div class="col-md-12">
              <button class="btn btn-sm btn-solid" type="submit">
                Save setting
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </section>
  </form>
</ng-container>
<!-- Section ends -->
