<app-breadcrumb
  [title]="'Order Detail'"
  [breadcrumb]="'Order'"
></app-breadcrumb>
<!-- section start -->
<section class="wishlist-section section-b-space">
  <div class="container">
    <div class="col-md-12 empty-cart-cls text-center" *ngIf="!order && !loader">
      <h3 class="mt-4"><b>order is Empty</b></h3>
      <h4>Explore more shortlist some items.</h4>
    </div>
    <div class="row" *ngIf="order">
      <div class="col-sm-12">
        <h4>Info:</h4><br><br>
        <table class="table cart-table table-responsive-xs">
          <thead>
            <tr class="table-head">
              <th scope="col">total</th>
              <th scope="col">delivery_date</th>
              <th scope="col">shipping_date</th>
              <th scope="col">shipping_code</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="col-xs-3">
                  <p>{{order.total}}</p>
                </div>
              </td>
              <td>
                <div class="col-xs-3">
                  <p>{{ order.delivery_date | date }}</p>
                </div>
              </td>
              <td>
                <div class="col-xs-3">
                  <p>{{ order.shipping_date | date }}</p>
                </div>
              </td>
              <td>
                <div class="col-xs-3">
                  <p>{{ order.shipping_code }}</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <h4 *ngIf="order.variations.length != 0">Items:</h4><br><br>
        <table class="table cart-table table-responsive-xs" *ngIf="order.variations.length != 0">
          <thead>
            <tr class="table-head">
              <th scope="col">Img</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Discount</th>
            </tr>
          </thead>
          <tbody *ngFor="let data of order.variations; let i = index">
            <tr>
              <td >
                <a
                  [routerLink]="['/shop/product/detail']"
                  [queryParams]="{ id: data?.variation?.id_product }"
                >
                  <img
                    class="variation-img"
                    [src]="data?.variation?.media[0]?.url"
                  />
                </a>
              </td>
              <td>
                <div class="col-xs-3">
                  <h4>
                    <a
                      [routerLink]="['/shop/product/detail']"
                      [queryParams]="{ id: data?.variation?.id_product }"
                      >{{ data?.variation?.name }}</a
                    >
                  </h4>
                </div>
              </td>
              <td>
                <div class="col-xs-3">
                  <p>
                    {{
                      data?.variation?.price
                        | discount: data?.discount
                        | number: "1.2-2"
                    }}
                    €
                  </p>
                </div>
              </td>
              <td>
                <div class="col-xs-3" *ngIf="data.variation.discount">
                  <p>{{ data?.variation?.discount }} %</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table><br><br>
        <h4>Address:</h4><br>
        <table class="table cart-table table-responsive-xs">
          <thead>
            <tr class="table-head">
              <th scope="col">Flat</th>
              <th scope="col">Address</th>
              <th scope="col">City</th>
              <th scope="col">Cap</th>
              <th scope="col">Region</th>
              <th scope="col">Other</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="col-xs-3">
                  <p>{{order?.address?.flat}}</p>
                </div>
              </td>
              <td>
                <div class="col-xs-3">
                  <p>{{order?.address?.address}}</p>
                </div>
              </td>
              <td>
                <div class="col-xs-3">
                  <p>{{order?.address?.city}}</p>
                </div>
              </td>
              <td>
                <div class="col-xs-3">
                  <p>{{order?.address?.cap}}</p>
                </div>
              </td>
              <td>
                <div class="col-xs-3">
                  <p>{{order?.address?.region}}</p>
                </div>
              </td>
              <td>
                <div class="col-xs-3">
                  <p>{{order?.address?.other}}</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
    </div>
    <div class="row wishlist-buttons" *ngIf="order">
      <div class="col-12">
        <a [routerLink]="['/shop/list']" class="btn btn-solid"
          >continue shopping</a
        >
      </div>
    </div>
  </div>
</section>
<!-- section end -->
<app-skeleton-product-box *ngIf="loader"></app-skeleton-product-box>
