<app-breadcrumb [title]="'Register'" [breadcrumb]="'Register'"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="registerForm">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email"><span>*</span> First Name</label>
                                <input type="text" class="form-control" placeholder="First Name" formControlName="name">
                            </div>
                            <div class="col-md-6">
                                <label for="review"><span>*</span> Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" formControlName="surname">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email"><span>*</span> Email</label>
                                <input type="text" class="form-control" placeholder="Email" formControlName="email">
                            </div>
                            <div class="col-md-6">
                                <label for="review"><span>*</span> Password</label>
                                <input type="password" class="form-control" placeholder="Enter your password" formControlName="password">
                            </div>
                            <div class="col-md-6">
                                <label for="review">Birth</label>
                                <input type="text" class="form-control" placeholder="Enter your password" formControlName="birth">
                            </div>
                            <div class="col-md-6">
                                <label for="review">Telephone</label>
                                <input type="text" class="form-control" placeholder="Enter your password" formControlName="telephone">
                            </div>
                            <button class="btn btn-solid" [disabled]="!registerForm.valid" (click)="onRegister()">create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->